.news-item {
  background-color: #DEC6BE;
  width: 1724px;
  height: 225px;
  border-radius: 30px;
  padding: 30px;
  margin-bottom: 20px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 77px;
}

.news_body {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.news_title {
  font-size: 50px;
  color: black;
  margin: 0;
  margin-top: -35px;
}

.news_text {
  font-size: 32px;
  color: black;
  margin: 0;
  display: flex;
}

/* Tablet: 768–1279px */
@media (max-width: 1279px) {
  .news-item {
    width: calc(100% - 120px);
    height: auto;
    min-height: 180px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 60px;
    padding: 25px 30px;
    border-radius: 25px;
  }

  .news_title {
    font-size: 42px;
    margin-top: -20px;
    line-height: 1.1;
  }

  .news_text {
    font-size: 28px;
    line-height: 1.2;
  }

  .news_body {
    gap: 12px;
  }
}

/* Tablet: 768–1279px */
@media (max-width: 1279px) {
  .news-item {
    width: calc(100% - 120px);
    height: auto;
    min-height: 180px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 50px;
    padding: 25px 30px;
    border-radius: 25px;
  }

  .news_title {
    font-size: 36px;
    margin-top: 0;
    line-height: 1.1;
    margin-bottom: 10px;
  }

  .news_text {
    font-size: 24px;
    line-height: 1.3;
  }

  .news_body {
    gap: 12px;
  }
}

/* Для планшетов в альбомной ориентации */
@media (max-width: 1279px) and (orientation: landscape) {
  .news-item {
    width: calc(100% - 100px);
    margin-left: 50px;
    margin-right: 50px;
    min-height: 160px;
    padding: 20px 25px;
  }

  .news_title {
    font-size: 32px;
  }

  .news_text {
    font-size: 22px;
  }
}
/* Mobile: ≤767px */
@media (max-width: 767px) {
  .news-item {
    width: calc(100% - 40px);
    height: auto;
    min-height: 150px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    margin-bottom: 15px;
    padding: 20px;
    border-radius: 20px;
  }

  .news_title {
    font-size: 24px;
    margin-top: 0;
    line-height: 1.2;
  }

  .news_text {
    font-size: 18px;
    line-height: 1.4;
    display: block;
  }

  .news_body {
    gap: 10px;
  }
}

