*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.our_history {
  text-align: center;
  padding-top: 48px;
  font-size: 96px;
}

.linia {
  background-color: #DEC6BE;
  width: 8px;
  height: 3293px;
  margin-left: 168px;
  margin-top: -3293px;
  position: absolute;
  z-index: 1;
}

.curcle1 {
  width: 138px;
  height: 138px;
  background-color: #DEC6BE;
  color: black;
  border-radius: 69px;
  margin-left: 100px;
  margin-top: 70px;
  position: relative;
  z-index: 2;
}

.curcle_text {
  font-size: 36px;
  text-align: center;
  padding-top: 35px;
}

.hist_text {
  font-size: 36px;
  color: black;
  margin-left: 284px;
  margin-top: -120px;
  max-width: 1720px;
  position: relative;
  z-index: 2;
}

.img_his {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  position: relative;
  z-index: 2;
}

.img_his img {
  width: 550px;
  height: 350px;
  object-fit: cover;
  border-radius: 8px;
}

.circle-text-container {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.curcle2{
  width: 54px;
  height: 54px;
  background-color: #DEC6BE;
  color: black;
  border-radius: 50%;
  flex-shrink: 0;
  position: relative;
  z-index: 2;
  margin-left: 145px;
}
.curcle3 {
  width: 54px;
  height: 54px;
  background-color: #DEC6BE;
  color: black;
  border-radius: 50%;
  flex-shrink: 0;
  position: relative;
  z-index: 2;
}

.block2_zagol {
  padding-top: 48px;
  font-size: 48px;
  margin-left: 100px;
  position: relative;
  z-index: 2;
}

.block3_zagol {
  padding-top: 48px;
  font-size: 48px;
  margin-left: 100px;
  position: relative;
  z-index: 2;
}

.block_block {
  margin-left: 100px;
  position: relative;
  z-index: 2;
}

.block2_text {
  font-size: 36px;
  line-height: 1.4;
  max-width: 1720px;
  z-index: 2;
}

.big_block {
  gap: 10px;
}

.kybik {
  width: 660px;
  height: 315px;
  background-color: #DEC6BE;
  color: black;
  border-radius: 30px;
  margin-left: 300px;
  margin-top: 135px;
  position: relative;
  z-index: 2;
}

.kybik_zagol {
  font-size: 36px;
  padding-top: 20px;
  padding-left: 34px;
}

.kybik_text {
  font-size: 33px;
  padding-left: 18px;
  padding-top: 40px;
}

.kybik_zagol2 {
  font-size: 36px;
  padding-top: 20px;
  text-align: center;
}

.kybik_text2 {
  font-size: 36px;
  text-align: center;
  padding-top: 130px;
  color: black;
}

* a {
  color: black;
}

.kybiki {
  display: flex;
}

/* Tablet: 768–1279px */
@media (max-width: 1279px) {
  .our_history {
    font-size: 64px;
    padding-top: 40px;
  }

  .linia {
    margin-left: 100px;
    height: 0px;
  }

  .curcle1 {
    width: 100px;
    height: 100px;
    margin-left: 60px;
    margin-top: 50px;
    border-radius: 50px;
  }

  .curcle_text {
    font-size: 24px;
    padding-top: 32px;
  }

  .hist_text {
    font-size: 24px;
    margin-left: 180px;
    margin-top: -85px;
    line-height: 1.4;
    max-width: 600px;
  }

  .img_his {
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 0 40px;
  }

  .img_his img {
    width: 100%;
    max-width: 600px;
    height: 300px;
  }

  .circle-text-container {
    gap: 15px;
    margin-bottom: 25px;
  }

  .curcle2{
    display: none;
  }
  .curcle3 {
    width: 40px;
    height: 40px;
  }

  .block2_zagol,
  .block3_zagol {
    font-size: 32px;
    margin-left: 60px;
    padding-top: 40px;
  }

  .block_block {
    margin-left: 60px;
    margin-right: 60px;
  }

  .block2_text {
    font-size: 24px;
    max-width: 100%;
    line-height: 1.4;
  }

  .kybik {
    width: 500px;
    height: 415px;
    background-color: #dec6be;
    border-radius: 30px;
    margin-top: 135px;
    position: relative;
    z-index: 2;
  }

  .kybik_zagol,
  .kybik_zagol2 {
    font-size: 28px;
  }

  .kybik_text,
  .kybik_text2 {
    font-size: 22px;
    padding-top: 20px;
    line-height: 1.3;
  }

  .kybik_text2 {
    padding-top: 60px;
  }

  .kybiki {
    display: flex;
    justify-content: center;
    margin-right: 300px;
    //gap: 30px;
    //flex-wrap: wrap;
  }
}

/* Для планшетов в портретной ориентации */
@media (max-width: 1279px) {
  .kybiki {
    flex-direction: column;
    align-items: center;
  }

  .kybik {
    width: 700px;
    height: 200px;
  }
}

/* Mobile: ≤767px */
@media (max-width: 767px) {
  .our_history {
    font-size: 36px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

  /* ГАРАНТИРОВАННО убираем линию */
  .linia {
    display: none;
  }

  .curcle1 {
    width: 69px;
    height: 69px;
    margin-left: 20px;
    margin-top: 30px;
    border-radius: 34.5px;
  }

  .curcle_text {
    font-size: 14px;
    padding-top: 24px;
  }

  .hist_text {
    font-size: 18px;
    margin-left: 100px;
    margin-top: -55px;
    line-height: 1.4;
    padding-right: 20px;
  }

  .img_his {
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
    padding: 0 20px;
  }

  .img_his img {
    width: 100%;
    max-width: 100%;
    height: 220px;
  }

  /* Кружки и текст в одну строку */
  .circle-text-container {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 20px;
    margin-left: 0;
    padding: 0 20px;
  }

  .curcle2,
  .curcle3 {
    width: 25px;
    height: 25px;
    margin: 0;
    flex-shrink: 0;
    margin-top: 5px;
  }

  .block2_zagol,
  .block3_zagol {
    font-size: 24px;
    margin-left: 0;
    padding-top: 30px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  .block_block {
    margin-left: 0;
    padding: 0;
  }

  .block2_text {
    font-size: 18px;
    margin: 0;
    line-height: 1.4;
    text-align: left;
    max-width: 100%;
    flex: 1;
  }

  .kybik {
    width: 100%;
    max-width: 500px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 15px;
  }

  .kybik_zagol {
    font-size: 20px;
    padding-top: 15px;
    padding-left: 20px;
  }

  .kybik_zagol2 {
    font-size: 20px;
    padding-top: 15px;
  }

  .kybik_text {
    font-size: 16px;
    padding-left: 20px;
    padding-top: 15px;
    line-height: 1.3;
  }

  .kybik_text2 {
    font-size: 16px;
    padding-top: 40px;
    line-height: 1.3;
    padding-left: 20px;
    padding-right: 20px;
  }

  .kybiki {
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 0 20px;
    width: 200px;
    height: 100px;
  }
}


