<div class="contact-form-wrapper">
  <form class="contact-form">
    <div class="form-group">
      <input type="text" id="name" class="form-input" placeholder="Введите имя">
    </div>

    <div class="form-group">
      <input type="email" id="email" class="form-input" placeholder="Введите email">
    </div>

    <div class="form-group">
      <input type="tel" id="phone" class="form-input" placeholder="Введите номер телефона">
    </div>

    <div class="form-group2">
      <textarea id="text" class="form-input2" placeholder="Мы всегда рады вашим вопросам, отзывам и предложениям. Выберите удобный способ связи, и мы ответим вам в ближайшее время"></textarea>
    </div>

    <button type="submit" class="submit-button">Отправить</button>
  </form>
</div>